body {
    margin: 0;
    padding: 0;
    font-family: Times New Roman, Helvetica, Arial, sans-serif;
    color: #666;
    background-color: #F5DA81;
    font-size: 1em;
    line-height: 1.5em;
    padding-top: 80px;
}

h1 {
    font-size: 2.3em;
    line-height: 1.3em;
    margin: 15px 0;
    text-align: center;
    font-weight: 300;
}

#mainHeader h1 {
    float: left;
}

p, h3 {
    margin: 0 0 1.5em 0;
}

#mainHeader {
    margin: 0;
    padding: 0;
    background-color: #333;
    color: white;
    height: 100%;
}

#mainHeader a {
    color: white;
}

#logoHeader {
    float: left;
    padding: 15px 0 0 20px;
    min-width: 45px;
    max-width: 50px;
}

#logoFooter {
    float: left;
}

#logoFooter:hover {
    color: #b0aba0;
}

#logoHeader, .siteName, #logoFooter {
    display: block;
    font-weight: 700;
    font-size: 1.2em;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
}

nav ul li:hover {
    background-color: #b0aba0;
}

li {
    font-family: 'Times New Roman', Times, serif;
    float: left;
}

li a, .dropdtn {
    display: inline-block;
    color: #F5ECCE;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
}

li a:hover, .dropdtn, .dropdown:hover {
    background-color: #8A4B08;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #DBA901;
    min-width: 80px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#mainContent {
    background-color: white;
    width: 90%;
    height: max-content;
    border-radius: 5px;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#mainContent header, #mainContent .content {
    padding: 40px;
}

#mainContent img {
    width: 25vw;
    right: 25vw;
    top: 2vw;
    position: absolute;
}

#mainHeader {
    background-color: #333;
    color: white;
    height: max-content;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
}

#mainFooter {
    margin: 0;
    padding: 0;
    background-color: #333;
    color: white;
    height: 100%;
}

#mainFooter a {
    color: white;
    text-decoration: none;
}

#mainFooter {
    background-color: #333;
    color: white;
    height: 40px;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}

/*Ignorar esta parte del codigo pues no sirve aun...*/

.code-example {
    --code-action-color: #cdcdcd;
    margin-bottom: 2rem;
    position: relative;
}

pre {
    background-color: #343434;
    border: 1px solid #0000;
    margin: 1rem 0 2rem;
    padding: 1rem 2.5rem 1rem 1rem;
}

.code-example, code, pre {
    border-radius: 0.25rem;
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
    font-size: 0.8333rem;
    tab-size: 4;
}

pre code {
    background: none;
    color: #fff;
    padding: 0;
}

.token {
    color: cadetblue;
}

